ARK_ASA_RCON_SERVERS=[{"serverName":"azer","host":"127.0.0.1","port":27020,"password":"change-me"},{"serverName":"island","host":"127.0.0.2","port":27020,"password":"change-me-too"}]
ARK_ASA_DEFAULT_SERVER=azer
ARK_ASA_RCON_TIMEOUT_MS=10000
ARK_ASA_RCON_MAX_RESPONSE_CHARS=20000
